@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html>
    <head>
      <!-- BASICS -->
      <meta charset="utf-8">
      <title>TTC Media</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen">
      <link rel="stylesheet" href="css/flexslider.css" type="text/css">
      <link rel="stylesheet" href="scripts/fancybox/jquery.fancybox.css" type="text/css" media="screen">
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">
    
      <link rel="stylesheet" href="css/style.css">
      <!-- skin -->
      <link rel="stylesheet" href="skin/default.css">  
    </head>
    <body>
      <section id="header" class="appear"></section>
      <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(5, 42, 62, 1);">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          	  <span class="fa fa-bars color-white"></span>
            </button>
            <div class="navbar-logo">
              <a href="/"><img data-0="width:155px;" data-300=" width:120px;" src="" alt="">TTC Media</a>
            </div>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="#section-about">About</a></li>
              <li><a href="#section-works">Portfolio</a></li>
              <li><a href="#section-contact">Contact</a></li>
            </ul>
          </div>
          <!--/.navbar-collapse -->
        </div>
      </div>
    
      <section id="intro">
        <div class="intro-content">
          <h2>Welcome to TTC Media!</h2>
        </div>
      </section>