<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1055" key="4fc63f00-6c84-47a4-b7d7-6e30022df308" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-22T23:14:10" updateDate="2018-10-23T00:49:36" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1052" creatorName="AnhTran" writerName="AnhTran" writerID="0" template="1051" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[TTC Media]]></pageTitle>
    <headingTitle><![CDATA[Welcome to TTC Media Ltd.,]]></headingTitle>
    <bodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>]]></bodyText>
    <footerText><![CDATA[Copyright TTC Media Ltd 2018]]></footerText>
  </homePage>
</root>