<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1071" key="9e70e0aa-7f71-42d8-8152-42c87b4c448e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-27T17:02:19" updateDate="2018-10-28T16:17:11" nodeName="HomePage" urlName="homepage" path="-1,1071" isDoc="" nodeType="1066" creatorName="AnhTran" writerName="AnhTran" writerID="0" template="1065" nodeTypeAlias="homePage" isPublished="true">
  <bodyText><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum]]></bodyText>
  <footerText><![CDATA[TTC Medi]]></footerText>
<contactUs id="1104" key="7cee9563-4df8-4365-9139-754ec21b84c5" parentID="1071" level="2" creatorID="0" sortOrder="0" createDate="2018-10-28T22:46:44" updateDate="2018-10-28T22:46:44" nodeName="Contact Us" urlName="contact-us" path="-1,1071,1104" isDoc="" nodeType="1102" creatorName="AnhTran" writerName="AnhTran" writerID="0" template="1101" nodeTypeAlias="contactUs" isPublished="true"><footerText><![CDATA[TTC Media]]></footerText><companyName><![CDATA[TTC Media]]></companyName></contactUs></homePage>
</root>